In [1]:
!pip install sqlalchemy
!pip install PyMySQL

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.6-cp310-cp310-win_amd64.whl (2.0 MB)
     ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
     -- ------------------------------------- 0.1/2.0 MB 3.6 MB/s eta 0:00:01
     ------ --------------------------------- 0.3/2.0 MB 3.8 MB/s eta 0:00:01
     -------- ------------------------------- 0.4/2.0 MB 3.2 MB/s eta 0:00:01
     ------------ --------------------------- 0.6/2.0 MB 3.6 MB/s eta 0:00:01
     -------------- ------------------------- 0.7/2.0 MB 3.0 MB/s eta 0:00:01
     ------------------ --------------------- 0.9/2.0 MB 3.3 MB/s eta 0:00:01
     ------------------------ --------------- 1.2/2.0 MB 3.6 MB/s eta 0:00:01
     ---------------------------- ----------- 1.4/2.0 MB 3.9 MB/s eta 0:00:01
     ---------------------------------- ----- 1.7/2.0 MB 4.0 MB/s eta 0:00:01
     ------------------------------------- -- 1.9/2.0 MB 4.1 MB/s eta 0:00:01
     ---------------------------------------  1.9/2.0 MB 4.0 MB/s eta 0:00:01
     ---------------------------------------- 2.0/2.0 MB 3.7 MB/s eta 0:00:00
Collecting typing-extensions>=4.2.0
  Downloading typing_extensions-4.5.0-py3-none-any.whl (27 kB)
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.2-cp310-cp310-win_amd64.whl (192 kB)
     ---------------------------------------- 0.0/192.2 kB ? eta -:--:--
     ---------------- ---------------------- 81.9/192.2 kB 4.5 MB/s eta 0:00:01
     ------------------------------------ - 184.3/192.2 kB 2.8 MB/s eta 0:00:01
     -------------------------------------- 192.2/192.2 kB 1.9 MB/s eta 0:00:00
Installing collected packages: typing-extensions, greenlet, sqlalchemy
Successfully installed greenlet-2.0.2 sqlalchemy-2.0.6 typing-extensions-4.5.0
Collecting PyMySQL
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ---------------------------------------- 0.0/43.8 kB ? eta -:--:--
     ------------------------------------- -- 41.0/43.8 kB ? eta -:--:--
     -------------------------------------- 43.8/43.8 kB 308.1 kB/s eta 0:00:00
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.2

In [6]:
import pymysql
from sqlalchemy import create_engine

In [26]:
import pandas as pd
import getpass
password = getpass.getpass()

In [25]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'
engine = create_engine(connection_string)

In [18]:
!pip install mysql

Collecting mysql
  Downloading mysql-0.0.3-py3-none-any.whl (1.2 kB)
Collecting mysqlclient
  Downloading mysqlclient-2.1.1-cp310-cp310-win_amd64.whl (178 kB)
     ---------------------------------------- 0.0/178.4 kB ? eta -:--:--
     ----------------------- -------------- 112.6/178.4 kB 2.2 MB/s eta 0:00:01
     -------------------------------------  174.1/178.4 kB 2.1 MB/s eta 0:00:01
     -------------------------------------- 178.4/178.4 kB 1.2 MB/s eta 0:00:00
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.1.1

In [20]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.32-cp310-cp310-win_amd64.whl (7.9 MB)
     ---------------------------------------- 0.0/7.9 MB ? eta -:--:--
     ---------------------------------------- 0.1/7.9 MB 2.0 MB/s eta 0:00:04
     - -------------------------------------- 0.3/7.9 MB 3.4 MB/s eta 0:00:03
     -- ------------------------------------- 0.4/7.9 MB 2.8 MB/s eta 0:00:03
     --- ------------------------------------ 0.7/7.9 MB 3.5 MB/s eta 0:00:03
     ---- ----------------------------------- 0.8/7.9 MB 3.5 MB/s eta 0:00:02
     ----- ---------------------------------- 1.1/7.9 MB 3.7 MB/s eta 0:00:02
     ------ --------------------------------- 1.2/7.9 MB 3.8 MB/s eta 0:00:02
     ------- -------------------------------- 1.4/7.9 MB 4.0 MB/s eta 0:00:02
     -------- ------------------------------- 1.7/7.9 MB 4.0 MB/s eta 0:00:02
     --------- ------------------------------ 1.8/7.9 MB 4.2 MB/s eta 0:00:02
     ---------- ----------------------------- 2.0/7.9 MB 3.9 MB/s eta 0:00:02
     ---------- ----------------------------- 2.1/7.9 MB 3.8 MB/s eta 0:00:02
     ---------- ----------------------------- 2.1/7.9 MB 3.8 MB/s eta 0:00:02
     ---------- ----------------------------- 2.1/7.9 MB 3.8 MB/s eta 0:00:02
     ---------- ----------------------------- 2.1/7.9 MB 3.8 MB/s eta 0:00:02
     ---------- ----------------------------- 2.1/7.9 MB 3.8 MB/s eta 0:00:02
     ---------- ----------------------------- 2.1/7.9 MB 3.8 MB/s eta 0:00:02
     ---------- ----------------------------- 2.1/7.9 MB 3.8 MB/s eta 0:00:02
     ---------- ----------------------------- 2.1/7.9 MB 3.8 MB/s eta 0:00:02
     ---------- ----------------------------- 2.1/7.9 MB 3.8 MB/s eta 0:00:02
     ---------- ----------------------------- 2.1/7.9 MB 2.1 MB/s eta 0:00:03
     ----------- ---------------------------- 2.3/7.9 MB 2.1 MB/s eta 0:00:03
     ------------ --------------------------- 2.5/7.9 MB 2.3 MB/s eta 0:00:03
     ------------- -------------------------- 2.7/7.9 MB 2.3 MB/s eta 0:00:03
     -------------- ------------------------- 2.8/7.9 MB 2.3 MB/s eta 0:00:03
     -------------- ------------------------- 3.0/7.9 MB 2.3 MB/s eta 0:00:03
     --------------- ------------------------ 3.2/7.9 MB 2.4 MB/s eta 0:00:02
     ---------------- ----------------------- 3.3/7.9 MB 2.5 MB/s eta 0:00:02
     ----------------- ---------------------- 3.5/7.9 MB 2.5 MB/s eta 0:00:02
     ------------------ --------------------- 3.7/7.9 MB 2.5 MB/s eta 0:00:02
     ------------------- -------------------- 3.9/7.9 MB 2.6 MB/s eta 0:00:02
     -------------------- ------------------- 4.1/7.9 MB 2.6 MB/s eta 0:00:02
     --------------------- ------------------ 4.2/7.9 MB 2.6 MB/s eta 0:00:02
     --------------------- ------------------ 4.3/7.9 MB 2.6 MB/s eta 0:00:02
     ---------------------- ----------------- 4.4/7.9 MB 2.6 MB/s eta 0:00:02
     ----------------------- ---------------- 4.6/7.9 MB 2.6 MB/s eta 0:00:02
     ----------------------- ---------------- 4.7/7.9 MB 2.6 MB/s eta 0:00:02
     ------------------------ --------------- 4.8/7.9 MB 2.6 MB/s eta 0:00:02
     ------------------------ --------------- 4.9/7.9 MB 2.6 MB/s eta 0:00:02
     ------------------------- -------------- 5.1/7.9 MB 2.6 MB/s eta 0:00:02
     -------------------------- ------------- 5.3/7.9 MB 2.6 MB/s eta 0:00:02
     --------------------------- ------------ 5.4/7.9 MB 2.6 MB/s eta 0:00:01
     --------------------------- ------------ 5.5/7.9 MB 2.6 MB/s eta 0:00:01
     ---------------------------- ----------- 5.7/7.9 MB 2.6 MB/s eta 0:00:01
     ----------------------------- ---------- 5.7/7.9 MB 2.6 MB/s eta 0:00:01
     ----------------------------- ---------- 5.9/7.9 MB 2.6 MB/s eta 0:00:01
     ------------------------------ --------- 6.0/7.9 MB 2.6 MB/s eta 0:00:01
     ------------------------------ --------- 6.1/7.9 MB 2.6 MB/s eta 0:00:01
     ------------------------------- -------- 6.2/7.9 MB 2.6 MB/s eta 0:00:01
     -------------------------------- ------- 6.3/7.9 MB 2.6 MB/s eta 0:00:01
     -------------------------------- ------- 6.4/7.9 MB 2.6 MB/s eta 0:00:01
     -------------------------------- ------- 6.4/7.9 MB 2.6 MB/s eta 0:00:01
     -------------------------------- ------- 6.4/7.9 MB 2.6 MB/s eta 0:00:01
     -------------------------------- ------- 6.4/7.9 MB 2.6 MB/s eta 0:00:01
     -------------------------------- ------- 6.4/7.9 MB 2.6 MB/s eta 0:00:01
     ----------------------------------- ---- 7.0/7.9 MB 2.6 MB/s eta 0:00:01
     ----------------------------------- ---- 7.1/7.9 MB 2.6 MB/s eta 0:00:01
     ------------------------------------ --- 7.3/7.9 MB 2.6 MB/s eta 0:00:01
     ------------------------------------- -- 7.4/7.9 MB 2.6 MB/s eta 0:00:01
     -------------------------------------- - 7.5/7.9 MB 2.6 MB/s eta 0:00:01
     -------------------------------------- - 7.7/7.9 MB 2.6 MB/s eta 0:00:01
     ---------------------------------------  7.8/7.9 MB 2.6 MB/s eta 0:00:01
     ---------------------------------------  7.9/7.9 MB 2.5 MB/s eta 0:00:01
     ---------------------------------------  7.9/7.9 MB 2.5 MB/s eta 0:00:01
     ---------------------------------------  7.9/7.9 MB 2.5 MB/s eta 0:00:01
     ---------------------------------------- 7.9/7.9 MB 2.5 MB/s eta 0:00:00
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-cp310-cp310-win_amd64.whl (904 kB)
     ---------------------------------------- 0.0/904.0 kB ? eta -:--:--
     -- ------------------------------------ 61.4/904.0 kB 3.4 MB/s eta 0:00:01
     ------ ------------------------------- 143.4/904.0 kB 1.4 MB/s eta 0:00:01
     ---------- --------------------------- 245.8/904.0 kB 1.7 MB/s eta 0:00:01
     ---------------- --------------------- 399.4/904.0 kB 2.1 MB/s eta 0:00:01
     ------------------ ------------------- 450.6/904.0 kB 1.9 MB/s eta 0:00:01
     ------------------------- ------------ 604.2/904.0 kB 2.0 MB/s eta 0:00:01
     ------------------------------ ------- 737.3/904.0 kB 2.1 MB/s eta 0:00:01
     -------------------------------- ----- 778.2/904.0 kB 2.0 MB/s eta 0:00:01
     -------------------------------------  880.6/904.0 kB 2.1 MB/s eta 0:00:01
     -------------------------------------  901.1/904.0 kB 2.0 MB/s eta 0:00:01
     -------------------------------------- 904.0/904.0 kB 1.8 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.32 protobuf-3.20.3

In [22]:
import mysql.connector

In [27]:
cnx = mysql.connector.connect(user = 'root',password = password, host = '127.0.0.1')
cnx.is_connected()

True

In [34]:
cursor = cnx.cursor()
cursor.execute(query)
result = pd.DataFrame(cursor.fetchall())

In [35]:
result

        0      1       2       3   4       5  6
0    5314   1787  930705   96396  12  8033.0  B
1    5316   1801  930711  165960  36  4610.0  A
2    6863   9188  930728  127080  60  2118.0  A
3    5325   1843  930803  105804  36  2939.0  A
4    7240  11013  930906  274740  60  4579.0  A
..    ...    ...     ...     ...  ..     ... ..
677  4989    105  981205  352704  48  7348.0  C
678  5221   1284  981205   52512  12  4376.0  C
679  6402   6922  981206  139488  24  5812.0  C
680  5346   1928  981206   55632  24  2318.0  C
681  6748   8645  981208  240900  60  4015.0  C

[682 rows x 7 columns]

In [30]:
result.columns = [head[0] for head in cursor.description]
result.head()

   loan_id  account_id    date  amount  duration  payments status
0     5314        1787  930705   96396        12    8033.0      B
1     5316        1801  930711  165960        36    4610.0      A
2     6863        9188  930728  127080        60    2118.0      A
3     5325        1843  930803  105804        36    2939.0      A
4     7240       11013  930906  274740        60    4579.0      A

In [41]:
query = """
        SELECT * FROM vklad_trans limit 10
        """
pd.read_sql_query(query,engine)

AttributeError: 'OptionEngine' object has no attribute 'execute'